/* Resume Current */
.main {
	margin-left: 10%;
	margin-right: 5%;
}
.main > div {
	/*border-radius: 5px;*/
	display: table-row;
}
.involvement p {
	margin-top: 0;
}
ul {
	display: table;
}
li {
	list-style-type: square;
}
#education h3 {
	font-weight: bold;
	font-size: 18px;
}
.company {
	font-weight: bold;
	margin-bottom: 3px;
}
.jobTitle {
	float: left;
	clear: right;
}
.years {
	float: right;
}
.jobTitle, .years {
	margin-top: 5px;
}
.list {
	clear: both;
}